.title-dashboard {padding-top: 15px;text-align: center;color: rgb(0 135 221);}

.estadisticas-dashboard {
	display: flex;
	justify-content: space-around;
	padding-top: 30px;
	padding-bottom: 30px;
}

.estadisticas {
	background: #fff !important;
	width: 30%;
}

.estadisticas h5 {
	text-align: center;
	padding-top: 10px;
	color: rgba(0,0,0,.7);
}

.card {
	border: none !important;
	box-shadow: 0 2px 22px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%), 0 3px 1px -2px rgb(0 0 0 / 20%);
}